/* desktop */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

  .wrapper {
    width: 100%;
    min-width: 250px;
    height: auto;
    background-color: #F0F0F0;
    box-shadow: 1px 1px 5px 2px #b8bdbd;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }

  .top-logo {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .content-container {
    width: 80%;
    min-width: 250px;
    height: auto;
    background-color: white;
    border-radius: 3px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
  }

  .title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    width: 100%;
    padding-bottom: 10px;
  }

  .title {
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bolder;
    margin-bottom: 15px;
    padding-right: 40px;
    padding-left: 40px;
  }

  .subtitle {
    font-family: Helvetica, sans-serif;
    font-size: 13px;
    font-weight: normal;
    margin-top: 0px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .main-image {
    height: auto;
    width: 100%;
    min-width: 205px;
    padding-bottom: 10px;
  }

  .pitch-container {
    height: auto;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 10px;
  }

  .pitch-text {
    font-family: Helvetica, sans-serif;
    font-size: 13px;
    text-align: center;
    margin-top: 0px;
    line-height: 20px;
  }

  .get-template-button {
    background-color: #E9703E;
    border-radius: 2px;
    border-style: solid;
    border-color: #E7622B;
    width: 135px;
    height: 35px;
    color: white;
    font-size: 13px;
    text-decoration: underline;
  }

  .get-template-button:hover {
    cursor: pointer;
    opacity: 0.9;
  }

  hr {
    width: 80%;
    color: #F0F0F0;
    border-color: #F0F0F0;
    border-style: solid;
    margin: 0;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .detail-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 90%;
    height: auto;
  }

  .detail  {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    height: auto;
    width: 90%;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .detail-icon-container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    height: 100%;
    align-self: stretch;
  }

  .detail-icon {
    width: 40px;
    height: 40px;
  }

  .detail-text-container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    height: auto;
    width: 100%;
  }

  .detail-title {
    font-size: 13px;
    margin: 0;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 15px;
  }

  .detail-text {
    font-size: 13px;
    margin: 0;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 15px;
    line-height: 19px;
  }

  .contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px;
    width: 100%;
    height: auto;
    padding-bottom: 10px;
  }

  .contact-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    margin: 0;
    margin-bottom: 5px;
  }

  .contact-email {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
  }

  .social-icons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding-top: 10px;
  }

  .social-icon {
    width: 35px;
    height: 35px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .social-icon:hover {
    cursor: pointer;
    opacity: 0.9;
  }

  .footer-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: auto;
  }

  .footer-text {
    font-size: 10px;
    color: #999999;
    font-family: Arial, Helvetica, sans-serif;
  }

  .subscription-link {
    color: #999999;
  }

  .subscription-link:hover {
    color: #6f6e6e;
  }
